<div class="login-page">
    <div class="content">
        <form class="login-form" fxFlex  >
            <div class="text-center">
              <mat-icon style="vertical-align:middle; font-size: 54px; color:#020b42;" inline="true">directions_car</mat-icon> <h2 style="color:#020b42;" class="app-name">ParkAnywhere</h2>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput #userName placeholder="Email">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput #userPassword (keyup.enter)="authService.SignIn(userName.value, userPassword.value)" type="password" placeholder="Geslo">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex>
                    <mat-checkbox color="primary">Zapomni si me</mat-checkbox>
                </div>
                <!--<div fxFlex  fxLayoutAlign="end">
                    <a href="javascript:void(0)">Pozabljeno geslo</a>
                </div>-->
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
<!--
                    <button mat-raised-button color="primary" class="w-100" (click)="authService.SignIn(userName.value, userPassword.value)">Prijava</button>
-->
                    <label for="prijava" class="customButton w-100">
                      Prijava
                    </label>
                    <input id="prijava" type="button" class="w-100" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
                </div>
            </div>

        </form>
    </div>
</div>
