<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex>
        <mat-card fxFlexFill fxLayoutAlign="center center">
          <div [fxFlex]="60">
            <!--<ul *ngIf="podatki | async as neki else noData">
              <li>
                {{podatki.email}}
              </li>
            </ul>-->
            <!--<ng-template #noData>No Data Available</ng-template>-->
            <h1>Podatki o profilu</h1>
            <b>Email:</b> {{podatki?.email}}
            <br /><br />
            <b>Denarnica:</b> {{podatki?.walletAddress}}
            <br /><br />
            <b>Zadnja prijava:</b> {{podatki?.metadata.lastSignInTime}}
            <br /><br />
            <b>Registriran:</b> {{podatki?.metadata.creationTime}}
          </div>
          <div [fxFlex]="40">
            <button mat-raised-button color="primary">Spremeni geslo</button>
            <br /><br />
            <button mat-raised-button color="primary">Posodobi profil</button>
            <br /><br />
            <button mat-raised-button color="primary">Zamenjaj denarnico</button>
          </div>
        </mat-card>
    </div>
</div>

<!-- <div fxFlexFill [fxLayout]="'row wrap'" fxLayoutGap="20px grid">
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            A
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            B
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            C
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            D
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            E
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            F
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            G
        </mat-card>
    </div>
</div> -->
