<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex>
        <mat-card fxFlexFill fxLayoutAlign="center center">
          <div [fxFlex]="40">
            <!--<ul *ngIf="podatki | async as neki else noData">
              <li>
                {{podatki.email}}
              </li>
            </ul>-->
            <!--<ng-template #noData>No Data Available</ng-template>-->
            {{podatki?.email}}
            <br />
            {{podatki?.metadata.lastSignInTime}}
          </div>
          <div [fxFlex]="60">
            60
          </div>
        </mat-card>
    </div>
</div>

<!-- <div fxFlexFill [fxLayout]="'row wrap'" fxLayoutGap="20px grid">
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            A
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            B
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            C
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            D
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            E
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            F
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            G
        </mat-card>
    </div>
</div> -->
