<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Število zasedenih parkirnih mest</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas *ngIf = "loaded" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Procenti zasedenosti parkirišč</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas *ngIf = "loaded" baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
</div>
