<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Iskanje">
</mat-form-field>

<!--<ul *ngIf="parkirneHise$ | async as parkirnehise else noData">-->
<!--  <li *ngFor="let parkirnahisa of parkirnehise">-->
<!--    {{parkirnahisa.naziv}}-->
<!--  </li>-->
<!--</ul>-->
<!--<ng-template #noData>No Data Available</ng-template>-->

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="naslov">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Naslov </th>
          <td mat-cell *matCellDef="let row"> {{row.naslov}} </td>
        </ng-container>

        <ng-container matColumnDef="stVsehMest">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Št. vseh mest </th>
          <td mat-cell *matCellDef="let row"> {{row.stVsehMest}} </td>
        </ng-container>

        <ng-container matColumnDef="stZasedenihMest">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Št. zasedenih mest </th>
          <td mat-cell *matCellDef="let row"> {{row.stZasedenihMest}} </td>
        </ng-container>

        <ng-container matColumnDef="zasedenost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Zasedenost </th>
            <td mat-cell *matCellDef="let row"> {{row.stZasedenihMest/row.stVsehMest | number:'1.2-2'}}% </td>
        </ng-container>

        <ng-container matColumnDef="naziv">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
            <td mat-cell *matCellDef="let row"> {{row.naziv}} </td>
        </ng-container>

        <ng-container matColumnDef="cenaNaUro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena na uro </th>
          <td mat-cell *matCellDef="let row"> {{row.cenaNaUro | number:'1.2-2'}}<b>P</b> </td>
        </ng-container>

        <ng-container matColumnDef="nacinPlacila">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Način plačila </th>
          <td mat-cell *matCellDef="let row"> {{row.nacinPlacila}} </td>
        </ng-container>

        <ng-container matColumnDef="tip">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tip </th>
          <td mat-cell *matCellDef="let row"> {{row.tip}} </td>
        </ng-container>

        <ng-container matColumnDef="izbrisi">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row"> <button mat-raised-button color="warn" (click)="izbrisi(row)">Izbriši</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <button id="dodajGumb" mat-raised-button (click)="openDialog()">Dodaj</button>
</div>


       

